button {
    background-color: var(--dark-green);
    color: var(--white);
    padding: 6px 8px;
    margin: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    display: flex;
    gap: 8px;
    align-items: center;
}

button.outline {
    background-color: var(--dark-grey-transparent);
    border: 2px solid var(--dark-green);
}

button:hover {
    background-color: var(--light-green);
}

input {
    color: var(--white);
    height: 25px;
    background-color: var(--light-grey-transparent);
    border: none;
    margin: 0 5px;
    border-radius: 5px;
}

select {
    background-color: var(--light-grey-transparent);
    color: var(--white);
    padding: 4px;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Exo', sans-serif;
    border-radius: 3px;
}

select option {
    background-color: var(--light-grey-transparent);
}

a.button-link {
    background-color: var(--dark-green);
    color: var(--white);
    border: none;
    border-radius: 3px;
    color: var(--white);
    padding: 6px 8px;
    margin: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
}