.dartboard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: start;
    margin: 30px 0;
}
  
.dartboard-img {
    width: 30em;
    height: 30em;
}
  
.dartboard-img .out {
    fill: none;
}

.dartboard-img .zero {
    fill: var(--light-grey-transparent);
}

.dartboard-img .filler {
    fill: var(--dark-grey-transparent);
}
  
.dartboard-img .item:hover {
    opacity: 0.6;
}
  
.dartboard-img .single.even {
    fill: var(--light-grey-transparent);
}
  
.dartboard-img .double.even, .triple.even, .double-bull {
    fill: var(--red);
}
  
.dartboard-img .single.odd {
    fill: var(--beige);
}
  
.dartboard-img .double.odd, .triple.odd, .single-bull {
    fill: var(--dark-green);
}
  
.dartboard-img .number {
    fill: var(--white);
    font-weight: 400;
    text-anchor: middle;
    font-size: 1.6em;
}
  
.dartboard-img .hit, .hit-pulse {
    fill: var(--blue);
}