// ==========================
//       Desktop Styles
// ==========================
.score-board {
    padding: 0 48px;
    border-top: 1px dotted $light-grey;
    border-bottom: 1px dotted $light-grey;
    border-right: 1px dotted $light-grey;

    &:first-child {
        border-left: none;
    }
    
    &:last-child {
        border-right: none;
    }

    &:nth-child(even) .points-legs-sets-won {
        flex-direction: row-reverse;
        justify-content: start;
    }

    /* Points and Legs / Sets info */
    .points-legs-sets-won {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        justify-content: flex-end;
        padding: 15px 5px;

        .points-container {
            padding: 0 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 200px;
        
            .points {
                font-size: 6rem;
                font-weight: 600;
            }
        
            .player {
                font-size: 20px;
                font-weight: 400;
                text-align: center;
                padding-top: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
        
                .player-name-icon {
                    font-size: 14px;
        
                    &.active-start-leg {
                        color: $blue;
                    }
        
                    &.active-throwing {
                        color: $light-green;
                    }
                }
            }
        }

        .legs-sets-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;

            .legs-sets-container {
                display: flex;
                flex-direction: column;
    
                .legs-sets {
                    font-size: 1.2rem;
                    font-weight: 600;
                    text-align: center;
                    padding-top: 15px;
                }
    
                .value {
                    display: flex;
                    justify-content: center;
                    gap: 3px;
                    font-size: 0.9rem;
                    font-weight: 600;
                    text-align: center;
                    padding-top: 15px;
                
                    i {
                        color: $gold;
                    }
                }
            }
        }
    }
}

// ==========================
//       Mobile Styles
// ==========================
@media only screen and (max-width: 600px) {
    .score-board {
        padding: 0;

        &:nth-child(even) .points-legs-sets-won {
            flex-direction: column;
        }
    
        /* Points and Legs / Sets info */
        .points-legs-sets-won {
            flex-direction: column;
            gap: 5px;
    
            .points-container {
            
                .points {
                    font-size: 4rem;
                }
            
                .player {
                    font-size: 20px;
                    font-weight: 400;
                    text-align: center;
                    padding-top: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
            
                    .player-name-icon {
                        font-size: 14px;
            
                        &.active-start-leg {
                            color: $blue;
                        }
            
                        &.active-throwing {
                            color: $light-green;
                        }
                    }
                }
            }
    
            .legs-sets-container {
                display: flex;
                flex-direction: column;
    
                .legs-sets {
                    font-size: 1.2rem;
                    font-weight: 600;
                    text-align: center;
                    padding-top: 15px;
                }
    
                .value {
                    display: flex;
                    justify-content: center;
                    gap: 3px;
                    font-size: 0.9rem;
                    font-weight: 600;
                    text-align: center;
                    padding-top: 15px;
                
                    i {
                        color: $gold;
                    }
                }
            }
        }
    }
}