$black: #000000;
$white: #fff;
$light-green: #6eb691;
$dark-green: #528b6e;
$light-red: #e66d68;
$red: #d95652;
$blue: #41bef4;
$beige: #fde1d0;
$gold: #d4c783;
$very-light-grey: #b1b0ac;
$light-grey: #565656;
$light-grey-transparent: #565656a6;
$dark-grey: #222121f8;
$dark-grey-transparent: #2b2b2bd3;